OSAXv1/taskSender/taskSender/Service References/ServiceReference1/TaskCatcher2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/Services/TaskCatcher.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/taskCatcher.TaskModel" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recieveTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/taskCatcher.TaskModel" minOccurs="0" name="tsk" nillable="true" type="q1:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recieveTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recieveTaskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recieveTaskWithWindow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/taskCatcher.TaskModel" minOccurs="0" name="tsk" nillable="true" type="q2:Task" />
        <xs:element minOccurs="0" name="window" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recieveTaskWithWindowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recieveTaskWithWindowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>