OSAXv1/taskSender/taskSender/Service References/ServiceReference1/TaskCatcher.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskCatcher" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2258/Services/TaskCatcher.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2258/Services/TaskCatcher.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2258/Services/TaskCatcher.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/taskCatcher.TaskModel" />
      <xsd:import schemaLocation="http://localhost:2258/Services/TaskCatcher.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskCatcher_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITaskCatcher_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskCatcher_recieveTask_InputMessage">
    <wsdl:part name="parameters" element="tns:recieveTask" />
  </wsdl:message>
  <wsdl:message name="ITaskCatcher_recieveTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:recieveTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskCatcher_recieveTaskWithWindow_InputMessage">
    <wsdl:part name="parameters" element="tns:recieveTaskWithWindow" />
  </wsdl:message>
  <wsdl:message name="ITaskCatcher_recieveTaskWithWindow_OutputMessage">
    <wsdl:part name="parameters" element="tns:recieveTaskWithWindowResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskCatcher">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskCatcher/DoWork" message="tns:ITaskCatcher_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskCatcher/DoWorkResponse" message="tns:ITaskCatcher_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recieveTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskCatcher/recieveTask" message="tns:ITaskCatcher_recieveTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskCatcher/recieveTaskResponse" message="tns:ITaskCatcher_recieveTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recieveTaskWithWindow">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskCatcher/recieveTaskWithWindow" message="tns:ITaskCatcher_recieveTaskWithWindow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskCatcher/recieveTaskWithWindowResponse" message="tns:ITaskCatcher_recieveTaskWithWindow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaskCatcher" type="tns:ITaskCatcher">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITaskCatcher/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recieveTask">
      <soap:operation soapAction="http://tempuri.org/ITaskCatcher/recieveTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recieveTaskWithWindow">
      <soap:operation soapAction="http://tempuri.org/ITaskCatcher/recieveTaskWithWindow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskCatcher">
    <wsdl:port name="BasicHttpBinding_ITaskCatcher" binding="tns:BasicHttpBinding_ITaskCatcher">
      <soap:address location="http://localhost:2258/Services/TaskCatcher.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>